<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Information System</title>
    <link rel="stylesheet" type="text/css" href="static/base.css">
</head>

<body>

    <div class="landing-container">
        <img src="../static/mental_ng2.png" alt="Mental NG logo" class="mis-logo">
        <h1 class="index">MENTAL NG</h1>
        <h2 class="index">Your Solution for Effective Data Management</h2>
        <p class="index">Welcome to our Management Information System. Streamline your processes and enhance decision-making with our
            powerful tools.</p>
        <p class="index">Ready to get started?</p>
        <a href="signin" class="login-link">Login Now</a>
    </div>

</body>

</html>
