<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADHD Analysis Result</title>
    <link rel="stylesheet" type="text/css" href="static/base.css">
</head>

<body>

    <div class="page-container">
        <h1 class="school_rt">ADHD Analysis Result</h1>
    </div>
    <div class="page-result">
        <h3 class="result-header"> {{ result_title }}</h3>
        <span class="result-data">
            <p> {{ result }}</p>
        </span>
    </div>
    <div>
        <a href="session">Book a SESSION here</a>
    </div>

</body>

</html>
